<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}DebtCollection Application{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset("/bundles/debtcollection/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
            <link href="{{ asset("/bundles/debtcollection/bootstrap/css/bootstrap-theme.min.css") }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset("/bundles/debtcollection/css/main.css") }}">
        {% endblock %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container-fluid">
        {% embed "navbar.html.twig" %}
        {% endembed %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% block body %}

                {% endblock %}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
        {% block javascripts %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{{ asset("/bundles/debtcollection/bootstrap/js/bootstrap.min.js") }}"></script>
        {% endblock %}
    </body>
</html>
