{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <th>{{ client.name }}</th>
        </thead>
        <tbody>
        <tr>
            <th>Id</th>
            <th>Identificationcode</th>
            <th>Name</th>
        </tr>
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.identificationCode }}</td>
            <td>{{ client.name }}</td>
        </tr>
        {% if client.hasAddressess %}
            <tr>
                <th class="bg-primary" colspan="3">Addresses</th>
            </tr>
            <tr>
                <th>Street</th>
                <th>Postalcode</th>
                <th>City</th>
            </tr>
            {% for address in client.addresses %}
                {% embed "address/show.html.twig" %}
                {% endembed %}
            {% endfor %}

        {% endif %}
        {% if client.hasContacts %}
            <tr>
                <th class="bg-primary" colspan="3">Contacts</th>
            </tr>
            <tr>
                <th>Contact</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
            {% for contact in client.contacts %}
                {% embed "contact/show.html.twig" %}
                {% endembed %}
            {% endfor %}
        {% endif %}
        {% if client.hasCases %}
            <tr>
                <th class="bg-danger" colspan="3">Debtor Cases</th>
            </tr>
            {% for debtCase in client.debtorCases %}
                <tr>
                    <td><a href="{{ path("debtcase_show",{'id':debtCase.id}) }}">{{ debtCase.identificationCode }}</a></td>
                </tr>
            {% endfor %}
            <tr>
                <th class="bg-success" colspan="3">Creditor Cases</th>
            </tr>
            {% for creditorCase in client.creditorCases %}
                <tr>
                    <td><a href="{{ path("debtcase_show",{'id':creditorCase.id}) }}">{{ creditorCase.identificationCode }}</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr>
            <td><a class="btn btn-default" href="{{ path('client_index') }}">Back to the list</a></td>
            <td><a class="btn btn-default" href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
